
.icon-exit-fullscreen:before { content: '\e800'; } /* '' */
.icon-icon-market-statistic:before { content: '\e801'; } /* '' */
.icon-icon-star-list:before { content: '\e802'; } /* '' */
.icon-icon-analytic_page:before { content: '\e803'; } /* '' */
.icon-icon-stock-page:before { content: '\e804'; } /* '' */
.icon-icon-investment-board:before { content: '\e805'; } /* '' */
.icon-icon-trade-page:before { content: '\e806'; } /* '' */
.icon-icon-chat-support:before { content: '\e807'; } /* '' */
.icon-icon-live-trade:before { content: '\e808'; } /* '' */
.icon-icon-lock-login:before { content: '\e809'; } /* '' */
.icon-icon-user-login:before { content: '\e80a'; } /* '' */
.icon-icon-buy-btn:before { content: '\e80b'; } /* '' */
.icon-icon-fund:before { content: '\e80c'; } /* '' */
.icon-icon-fullscreen-in:before { content: '\e80d'; } /* '' */
.icon-icon-sell-btn:before { content: '\e80e'; } /* '' */
.icon-icon-amend-btn:before { content: '\e80f'; } /* '' */
.icon-icon-historical:before { content: '\e810'; } /* '' */
.icon-icon-inquiry:before { content: '\e811'; } /* '' */
.icon-icon-portofolio:before { content: '\e812'; } /* '' */
.icon-icon-transactional:before { content: '\e813'; } /* '' */
.icon-icon-change-pinpass:before { content: '\e814'; } /* '' */
.icon-icon-stock-list:before { content: '\e815'; } /* '' */